nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 2% 0;
    
    h1{
        font-size: 4.2rem;
    }
    
    a{
        margin-left: 2%;
        text-decoration: none;
        font-size: 1.6rem;
        &:hover{
            color: grey;
        }
    }
}